Repository villish/vill.nixCats: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-classic, flake-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/JohnnyMorganz/StyLua
    rev: v0.20.0
    hooks:
      - id: stylua

  - repo: local
    hooks:
      - id: nixfmt-classic
        name: nixfmt-classic
        entry: nix
        args: ["run", "nixpkgs#nixfmt-classic", "--"]
        language: system
        files: \.nix$
        pass_filenames: true

  - repo: local
    hooks:
      - id: flake-check
        name: nix flake check
        entry: nix
        args: ["flake", "check"]
        language: system
        files: ^flake\.(nix|lock)$
        pass_filenames: false

Initial commit
  .github/workflows/ci.yml
  .github/workflows/update-deps.yml
  .gitignore
  .pre-commit-config.yaml
  .stylua.toml
  Makefile
  README.md
  assets/dashboard-screenshot.png
  flake.lock
  flake.nix
  init.lua
  lua/config/autocmds.lua
  lua/config/options.lua
  lua/nixCatsUtils/init.lua
  lua/nixCatsUtils/lazyCat.lua
  lua/plugins/blink.lua
  lua/plugins/crates.lua
  lua/plugins/disable.lua
  lua/plugins/hop.lua
  lua/plugins/lsp.lua
  lua/plugins/lualine.lua
  lua/plugins/render-markdown.lua
  lua/plugins/rustaceanvim.lua
  lua/plugins/smart-splits.lua
  lua/plugins/snacks.lua
  lua/plugins/surround.lua
  lua/plugins/telescope.lua
  lua/plugins/vesper.lua
  lua/plugins/vim-tmux-navigator.lua
  lua/plugins/windsurf.lua
  lua/plugins/yanky.lua
Due: nixfmt-classic, flake-check

Refactor plugin directory and fix windsurf
  .gitignore
  flake.lock
  init.lua
  lua/plugins/lsp/cpp/clangd.lua
  lua/plugins/lsp/lsp.lua
  lua/plugins/lsp/nix/nixd.lua
  lua/plugins/lsp/rust/rustaceanvim.lua
  lua/plugins/lsp/tools/blink.lua
  lua/plugins/lsp/tools/crates.lua
  lua/plugins/lsp/tools/windsurf.lua
  lua/plugins/nav/hop.lua
  lua/plugins/nav/smart-splits.lua
  lua/plugins/nav/telescope.lua
  lua/plugins/nav/vim-tmux-navigator.lua
  lua/plugins/rustaceanvim.lua
  lua/plugins/text/surround.lua
  lua/plugins/text/yanky.lua
  lua/plugins/ui/lualine.lua
  lua/plugins/ui/nvim-web-devicons.lua
  lua/plugins/ui/render-markdown.lua
  lua/plugins/ui/snacks.lua
  lua/plugins/ui/vesper.lua
Due: flake-check

enable ci
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Update flake.lock for release v1.0.1
  flake.lock
Due: flake-check

Update for LazyVim 15.x compatibility
  flake.nix
  init.lua
  lua/plugins/lsp/tools/crates.lua
Due: nixfmt-classic, flake-check

add harper-ls and outline, misc cleanup
  README.md
  flake.nix
  lua/plugins/disable.lua
  lua/plugins/lsp/tools/harper.lua
  lua/plugins/nav/hop.lua
  lua/plugins/ui/outline.lua
Due: nixfmt-classic, flake-check

fix: keep tree-sitter parsers out of the store
  CHANGELOG.md
  init.lua
  lua/plugins/treesitter.lua
Due: none

feat: update nixCats config for LazyVim 15.x compatibility
  flake.lock
  flake.nix
  init.lua
  lua/config/options.lua
  lua/plugins/lsp/lsp.lua
  lua/plugins/lsp/nix/nixd.lua
  lua/plugins/lsp/tools/blink.lua
  lua/plugins/lsp/tools/windsurf.lua
  lua/plugins/nav/fzf-lua.lua
  lua/plugins/nav/telescope.lua
  lua/plugins/ui/snacks.lua
Due: nixfmt-classic, flake-check

formatting
  flake.nix
  lua/config/options.lua
  lua/plugins/lsp/tools/blink.lua
  lua/plugins/lsp/tools/windsurf.lua
  lua/plugins/nav/fzf-lua.lua
  lua/plugins/treesitter.lua
  lua/plugins/ui/snacks.lua
Due: nixfmt-classic, flake-check

ci
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
Due: none

Configure Dependabot for GitHub Actions
  .github/dependabot.yml
Due: none

remove extra workflow file
  .github/workflows/dependabot.yml
Due: none

Update flake.lock for release v1.2.0
  flake.lock
Due: flake-check
